@model WebProjesi.Models.Calisan

<h1>Çalışan Sil</h1>

<p>Ad: @Model.Ad</p>
<p>Soyad: @Model.Soyad</p>
<p>Başlangıç Saati: @Model.BaslangicSaati</p>
<p>Bitiş Saati: @Model.BitisSaati</p>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="CalisanId" />
    <button type="submit" class="btn btn-danger">Sil</button>
    <a href="/Calisan" class="btn btn-secondary">İptal</a>
</form>
